/* 
  https://medium.com/allenhwkim/how-to-build-tabs-only-with-css-844718d7de2f
*/

:root {
  --backgroundColor: whitesmoke;
}

body {
  background: var(--backgroundColor);
}

input {
  display: none;
}

label {
  display: inline-block;
  border: 1px solid black;
  ;
  background: #DBD7D2;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}

input~.panel {
  display: none
}

#guide-panel-tab:checked~.guide-panel,
#search-panel-tab:checked~.search-panel {
  display: block;
}

input:checked+label {
  background: var(--backgroundColor);
  border-bottom: 1px solid transparent;
}

input~.panel {
  border-top: 1px solid black;
}