/* https://www.codeinwp.com/snippets/accessible-pure-css-tabs/ */
* {
    box-sizing: border-box;
  }
  
  *:focus, input:focus + label {
    outline: none;
    box-shadow: inset 0 0 0 5px lightBlue;
  }
  
  body {
    padding: 30px 20px;
  }
  
 p {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    border-radius: 10px 10px 0 0;
  }
  
  .radiotab {
    position: absolute;
    opacity: 0;
  }
  
  .label {
    width: 50%;
    padding: 22px 20px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    color: #7f7f7f;
    transition: background .3s, color .3s;
    border: none;
    border-radius: 0;
    text-align: center;
  }
  
  .label:hover {
    background: #d8d8d8;
  }
  
  .label:active {
    background: #ccc;  
  }
  
  .radiotab:checked + .label {
    background: #fff;
    color: #000;
    border-top: solid 2px #000;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: none;
  }
  
  .panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
    width: 100%;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    border-right: solid 2px #000;
  }
  
  .radiotab:checked + .label + .panel {
    display: block;
  }
  
  @media (min-width: 600px) {
    .panel {
      order: 99;
    }
  
    .label {
      width: 50%;
      border-radius: 10px 10px 0 0;
      border-bottom: solid 2px #000;
    }
  
  }