/* 
==========
W4apper
==========
*/
body{
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}
main {
    flex: 1;
}
.nav-menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* 
* Title header
* */
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/*
==========
Main navigation
==========
*/
nav {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;  
}
nav > ul {
    display: flex;
    flex-flow: row;
}
nav > ul > li {
    flex:auto;
    padding: 2em;
    list-style-type: none;
}
nav > form {
    display: flex;
}

/* 
==========
Footer 
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
==========
*/
footer {
    display: block;
}
footer > hr {
    border: 0;
    height: 2px;
    background-color: lightgray;
}

/* 
==========
pre element containing code child introduces unwanted white space;
this corrects it visually 
==========
*/
pre.tei {
    white-space: pre-line;
}
pre.tei > code {
    white-space: pre;
}

/* 
==========
Advanced search 
========== 
*/
#advanced-search {
    display: flex;
} 
#advanced-search h2 {
    text-align: center;
}
#search-widgets {
    width: 25em;
    border-right: 1px lightgray solid;
    padding-right: 1em;
}
#search-widgets ul {
    list-style-type: none;
    padding-left: 1.5em;
    text-indent: -1.5em;
}
#search-widgets ul ul {
    padding-left: 2em;
}
fieldset {margin: 1em 0;}
