/*
==========
General
==========
*/

:root {
    --background-color: #f3f7f5;
    --text-color: #444545;
    --title-color: darkgreen;
    --highlight-color: #ceded6;
}

q {
    quotes: "“""”""‘""’";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

hr {
    border: 0;
    height: 2px;
    background-color: lightgray;
}

a:link {
    color: var(--title-color);
    text-decoration: none;
}
a:hover {
    background-color: var(--highlight-color);
    
}
table, tr, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

th, td {
    padding: .25em;
}
/* 
==========
Wrapper
==========
*/ 
body {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    min-height: 99vh;
    background: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: monospace;
    font-size:2em;
    color: var(--title-color);
}

main {
    flex: 1;
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/*
==========
Main navigation
==========
*/
nav {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
}

nav>ul {
    display: flex;
    flex-flow: row;
    gap: 2em;
}

nav>ul>li {
    flex: auto;
    list-style-type: none;
}

nav>form {
    display: flex;
}

/* 
==========
Footer 
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
==========
*/
footer {
    display: block;
}

/* 
==========
pre element containing code child introduces unwanted white space;
this corrects it visually 
==========
*/
pre.tei {
    white-space: pre-line;
}

pre.tei>code {
    white-space: pre;
}

/*
==========
Mapbox-provided styling
via Custom Markers GL JS tutorial
==========
*/
#map {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
}

.marker {
    background-image: url('../img/ghost.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    /* Remove Open Sans to save load time*/
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

/* 
==========
Search 
Radio tabs: https://medium.com/allenhwkim/how-to-build-tabs-only-with-css-844718d7de2f
========== 
*/
#advanced-search {
    display: flex;
}

#advanced-search>aside {
    width: 25em;
    padding-right: 1em;
    border-right: 1px lightgray solid;
}

#advanced-search>aside>input[type="radio"] {
    display: none;
}

#search-panel>form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

input[type="radio"]+label {
    display: inline-block;
    border: 1px solid black;
    background: #ceded6;
    margin: 0 1px;
    padding: .25em 1em;
    border-radius: .65em .65em 0 0;
    position: relative;
    top: 1px;
    font-size: smaller;
}

input~.panel {
    display: none;
}

#guide-panel-tab:checked~.guide-panel,
#search-panel-tab:checked~.search-panel {
    display: block;
}

input:checked+label {
    background: var(--background-color);
    border-bottom: 1px solid transparent;
}

input~.panel {
    border-top: 1px solid black;
}

#search-panel {
    padding-top: 1em;
}

#advanced-search h2 {
    text-align: center;
}

#search-panel-form {
    margin-top: 1em;
}

#search-panel ul {
    list-style-type: none;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

#search-panel ul ul {
    padding-left: 2em;
}

#search-term-row {
    display: flex;
    gap: .5em;
}

.info {
    /* Must be relative so that absolute child (tooltip <div>) will refer to it */
    position: relative;
}

.info>.tooltip {
    /*  
        Colors from https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3
        Darker solid border avoids visual interferences from background (main) text
        Positioned relative to parent .info element
        Visibility + opacity + transition supports quick fade-in
            (without transition the appearance is too abrupt)
        White-space configuration sets container width to width of content
            (use <br/> between lines)
        Transition-delay avoids accidental mouse-trap reveal
    */
    position: absolute;
    top: -1em;
    ;
    left: 2em;
    visibility: hidden;
    opacity: 0;
    transition: .5s opacity;
    transition-delay: .5s;
    white-space: nowrap;
    padding: .5em;
    background-color: #e5f5f9;
    outline: #2ca25f solid .2em;
    border-radius: .5em;
}

.tooltip>kbd {
    font-weight: bold;
}

.info:hover>.tooltip {
    /*
        Visibility + opacity + transition supports quick fade-in
        (without transition the appearance is too abrupt)
    */
    visibility: visible;
    opacity: 1;
}

#clear-form a {
    /* Reset clears only most recent values; need to reload with no selection */
    cursor: default;
    text-decoration: none;
    color: inherit;
}

.no-potential {
    /* Gray out facets that cannot expand results with current other values 
       NB: darkgray (#A9A9A9) is lighter than gray (#808080)
    */
    color: darkgray;
}

/*
==========
Reading view
========== 
*/
.bibl {
    font-size: smaller;
    color: gray;
    border: 1px solid;
    padding: .5em;
}

mark {
    font-weight: bold;
    background-color: lightpink;
}
.reading * {
    line-height: 1.4;
}
.ref {
    /* 
        outline + padding to avoid disrupting layout
        all @refs are styled the same way; with annotation value in tooltip
    */
    outline: 1px green solid;
    padding: 0 1px;
}
#aux {
    font-size: smaller;
}
/*
==========
XML “lozenge” link in reading view
========== 
*/
.lozenge text {fill: var(--background-color);}
